.task {
  position: relative;
}

.task__container {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  height: calc(100vh - 80px);
  width: 500px;
  background-color: white;
  overflow: scroll;
  z-index: 6;
  -webkit-animation: slide-down 0.6s ease-out;
  -moz-animation: slide-down 0.6s ease-out;

  a {
    text-decoration: none;
    color: #88f;
    width: 200px;
    display: block;
    padding: 20px;

    text-align: center;
    text-transform: uppercase;
    background-color: white;
  }

  em {
    color: #909090;
    font-family: Roboto;
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

.task__preview {
  background-color: #f1f1f1;
  padding: 20px 40px;

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #909090;
  }
}

.task__preview__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 24px;
  margin-bottom: 15px;

  color: #1a1b1f;
}

.task__preview__address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-size: 16px;

  color: #1a1b1f;
}

.task__preview__createtask {
  padding-top: 25px;

  a {
    background: #4c71fe;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.task__field {
  background-color: white;
  padding: 20px 40px;
  border-bottom: 1px #f1f1f1 solid;
  outline: none;

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #aaa;
  }

  input {
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;

    color: #1a1b1f;
    width: 100%;
    border: none;
  }
}

.task__field__hint {
  position: relative;

  em {
    display: block;
    position: absolute;
    top: -23px;
  }
}

.task__serviceType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #1a1b1f;
}

.task__serviceType__item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.task__serviceType__image {
  display: flex;
  width: 75px;
  height: 75px;
  align-content: center;
  justify-content: center;
  margin-bottom: 5px;

  &.selected {
    border: 1px solid #4c71fe;
    box-sizing: border-box;
    border-radius: 50%;
  }
}

.task__taskTag__item {
  display: inline-flex;
  outline: none;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  height: 40px;
  padding: 0px 10px;
  margin-bottom: 5px;
  margin-right: 2px;
  cursor: pointer;

  color: #1a1b1f;

  &.selected {
    border: 1px solid #4c71fe;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0px 9px;
  }
}
