.taskList {
  position: relative;
}

.taskList__container {
  padding-top: 20px;
  position: absolute;
  top: 0px;
  left: 20px;
  bottom: 0px;
  z-index: 5;
  width: 350px;
  height: calc(100vh - 100px);
  overflow: auto;
  pointer-events: none;
}

.taskList__container::-webkit-scrollbar { 
    display: none;  
}
.taskList__link {
  pointer-events: all;
  width: 330px;
  height: 50px;    
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.297413);
  border-radius: 4px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.7px;

    color: #4C71FE;
    vertical-align: middle;
  }
}

.taskList__task {
  pointer-events: all;
  width: calc(330px - 40px);
  margin-bottom: 10px;
  padding: 16px 20px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.297413);
  border-radius: 4px;

  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.7px;

  a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    

    color: #4C71FE;
    vertical-align: middle;
  }

  a.button {
    display: inline-block;
    background: #4C71FE;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
  }

  a.white {
    display: inline-block;
    color: #4C71FE;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
  }
}

.taskList__task__created {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #909090;
  margin-bottom: 5px;
}

.taskList__task__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 20px;
  text-transform: none;
  margin-bottom: 18px;

  color: #1A1B1F; 
}

.taskList__modal_delete__buttons {
 a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    

    color: #4C71FE;
    vertical-align: middle;
  }

  a.button {
    display: inline-block;
    background: #4C71FE;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
  }

  a.white {
    display: inline-block;
    color: #4C71FE;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
  }
}