.history__container {
  padding: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 20px;
  text-transform: none;
  margin-bottom: 18px;

  * {
    display: block;
  }

  em {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #909090;
  }

  .reset {
    display: inline-block;
    background: #4C71FE;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
  }
}