@import 'configs/color';

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#app-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.container__content {
  width: 100%;
  height: 100%;

  display: flex;
}

h1,
h2 {
  font-family: Roboto;
  text-transform: uppercase;
}
