.globalHeader {
  display: flex;
  flex-direction: row;
  min-height: 80px;
  align-items: center;
  padding: 0px 40px;

  .logo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 20px;

    color: #FA4C6F;
  }

  .right {
    cursor: pointer;
    display: inline-flex;
    margin: 0px;
    margin-left: 44px;
    padding: 10px;
    border: 0px;
    border-radius: 4px;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;

    color: white;
    background-color: #4C71FE;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  ul {
    list-style: none;
    margin: 0px;
    height: 80px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    
   

     li {
      display: inline-flex;
      margin: 0px;
      margin-right: 44px;
      height: 80px;
      position: relative;
      border-top: 3px solid #fff;
      align-items: center;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 16px;
      letter-spacing: 0.6px;
      text-transform: uppercase;

      color: #1A1B1F;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      &.active {
        border-top: 3px solid #1A1B1F;
      }

      a {
        text-decoration: none;
        color: #1A1B1F;
      }
    }

    &:after {
      clear: both;
      content: '';
      display: table;
    }
  }
}

.header__fb__avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.header__fb {
  display: inline-flex;
  margin: 0px;
  margin-left: 44px;
  font-family: Roboto;
  font-size: 15px;
  align-items: center;
}